node_modules
.pnpm-store
dist
coverage
.turbo
.vite
.DS_Store
*.log
*.zip
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
storage/logs
storage/uploads
apps/api-server/storage
scripts/deploy/tmp
scripts/dev/*.log
apps/*/node_modules
apps/*/dist
apps/*/coverage
database/mysql-data
